body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #ff6600;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 50px auto 20px;
    padding: 80px;
}

h1 {
    margin-bottom: 40px;
}

.project-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.project-box {
    flex: 1;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative; 
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-box:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.project-info h2 {
    flex: 1;
    position: absolute;
    margin-left: 50px; 
    top: 0px;
}

.project-image1 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: -10px;       
    right: 30px;        
    width: 80px;
    height: 80px;
}

.project-image2 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: 10px;       
    right: 30px;        
    width: 100px;
    height: auto;
}

.project-image3 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: 10px;       
    right: 30px;        
    width: 120px;
    height: 30%;
}

.single-project {
    display: block;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 90%;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
    position: relative; 
    margin-left: 5%;

}

.single-project:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.single-project-details {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.single-project-info h2 {
    flex: 1;
    position: absolute;
    margin-left: 50px; 
    top: 0px;
}

.single-project-info p {
    margin-top: 60px; 
}

.single-project-image4 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    top: 10px;       
    left: 10px;        
    width: 50px;
    height: 50px;
}
