body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}


nav a:hover {
    color: #ff6600;
}

main {
    padding: 2.5%; /* Converted */
}

.container {
    max-width: 1200px;
    margin: 4.17% auto 1.67%; /* Converted */
    padding: 6.67%; /* Converted */
}

h1 {
    margin-bottom: 3.33%; /* Converted */
}

.project-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.33%; /* Converted */
}

.project-box {
    flex: 1;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 1.67%; /* Converted */
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 1.67%; /* Converted */
    margin-bottom: 4.17%; /* Converted */
    position: relative; 
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-box:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.project-info h2 {
    flex: 1;
    position: absolute;
    margin-left: 4.17%; /* Converted */
    top: 0;
}

.project-image1 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: -15%; /* Converted */      
    right: 2.5%; /* Converted */       
    width: 30%; /* Converted */
    height: auto; /* Converted */
}
.project-image2 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: 4%; /* Converted */      
    right: 2.5%; /* Converted */       
    width: 40%; /* Converted */
    height: auto; /* Converted */
}

.project-image3 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    bottom: 4%; /* Converted */      
    right: 2.5%; /* Converted */       
    width: 60%; /* Converted */
    height: auto; /* Converted */
}

.single-project {
    display: block;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 1.67%; /* Converted */
    border-radius: 5px;
    box-sizing: border-box;
    width: 90%;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
    position: relative; 
    margin-left: 5%;
}

.single-project:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.single-project-details {
    display: flex;
    align-items: center;
    margin-bottom: 5%; /* Converted */
}

.single-project-info h2 {
    flex: 1;
    position: absolute;
    margin-left: 5%; /* Converted */
    top: 0;
}

.single-project-info p {
    margin-top: 5%; /* Converted */
}

.single-project-image4 {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute; 
    top: 5%; /* Converted */
    left: 1%; /* Converted */
    width: 5%; /* Converted */
    height: auto; /* Converted */
}
