body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #ff6600;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 0px 0;
}

.first-section h1 {
    margin: 0;
    padding-top: 0;
    align-items: flex-start; 
    justify-content: flex-start;
}

.first-section {
    height: auto;
}

.text-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.title {
    text-align: center;
    margin: 0;
    padding-top: 0;
}

.description {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

figcaption {
    margin-top: 0px; /* Adds some space between the image and the caption */
    font-size: 14px; /* Adjusts the font size of the caption */
    color: #555; /* Changes the color of the caption text */
    text-align: center; /* Centers the caption text */
}

.shape-divider {
    height: 40px;
    background-color: #f0f0f0;
    margin: 0px 0;
}

.second-section {
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start;
    height: auto;
    width: auto;
} 

.second-section-image {
    margin-top: 30px;
    height: auto;
    width: 450px;
}

.second-landscape-image {
    width: 80%;
    height: auto;
}

.third-section {
    flex-direction: row-reverse;
    height: auto;
    width: auto;
    align-items: flex-start; 
    justify-content: flex-start;
}

.third-section-image {
    height: auto;
    width: 450px;
}

.results .text-content {
    text-align: start;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.result-left-image {
    width: 100%;
    height: auto;
}
.result-right-image {
    width: 125%;
    height: auto;
}


.section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 20px;
}

.section-description, .additional-text {
    width: 100%;
    height: 100px;
    margin: 0px 0;
}

.landscape-image {
    width: 100%;
    height: auto;
    margin: 0px 0;
}

/* General styling for the pre and code tags */
pre {
    background-color: #2d2d2d; /* Dark background */
    color: #f8f8f2; /* Light text color */
    padding: 20px; /* Padding around the code block */
    border-radius: 8px; /* Rounded corners */
    overflow-x: auto; /* Horizontal scrolling if needed */
    margin: 20px auto; /* Margin above and below the code block */
    width: 80%;
    
}

code {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    font-size: 12x; /* Font size */
    line-height: 1.2; 
}

/* Syntax highlighting for different elements */
code .keyword {
    color: #66d9ef; /* Light blue */    
}

code .string {
    color: #a6e22e; /* Green */
}

code .number {
    color: #ae81ff; /* Purple */
}

code .comment {
    color: #75715e; /* Grey */
}

code .function {
    color: #fd971f; /* Orange */
}

code .variable {
    color: #f8f8f2; /* Default text color */
}
.result-image1 {
    width: 90%;
    height: auto;
    margin: 0;
    margin-left: 5%;
    margin-top: -3%;
    display: block;
}

.result-image {
    width: 60%;
    height: auto;
    margin: 5px auto;
    display: block;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #555;
}
